<section class="sec contact" id="Contact">
  <div class="content">
    <div class="nains800p">
      <h3>我們傾聽您的聲音</h3>
      <p>「專業、用心、服務」，是我們對每個顧客所秉持的態度!</p>
    </div>
    <div class="contactform">
      <form action="jason20226@gmail.com" method="POST">
        <div class="row100">
          <div class="inputbx50">
            <input type="text" name="" placeholder="姓名">
          </div>
          <div class="inputbx50">
            <input type="text" name="" placeholder="信箱">
          </div>
        </div>
        <div class="row100">
          <div class="inputbx100">
            <textarea placeholder="訊息" name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="row100">
          <div class="inputbx100">
            <input type="submit" name="" value="發送">
          </div>
        </div>
      </form>
    </div>
    <div class="sci">
      <ul>
        <li><a href="#"><img src="../../assets/image/facebook.png" alt="fb" title="fb"></a></li>
        <li><a href="#"><img src="../../assets/image/ig.png" alt="ig" title="ig"></a></li>
        <li><a href="#"><img src="../../assets/image/phone.png" alt="line" title="line"></a></li>
      </ul>
    </div>
    <p class="copyright">Design & Developed By <a href="#"><strong>Nains</strong></a></p>
  </div>
</section>