<section class="sec work" id="Portfolio">
  <div class="content">
    <div class="nains800p">
      <h3>最新巨作</h3>
      <p>站在顧客的立場，思考每種產業適合網站的呈現方式，以專業的經驗提供服務與建議。
        「專業、用心、服務」，是我們對每個顧客所秉持的態度，
        我們銷售的不單只是網站，而是替顧客解決問題的能力!</p>
    </div>
    <div class="workbx">
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
      <div class="brand">
        <a href="#">
          <h2>品牌名稱</h2>
        </a>
      </div>
    </div>
  </div>
</section>