<header [ngClass]="{'active': header, 'sticky': scroll}" id="header">
  <a href="#" class="logo"><img src="../../assets/image/TSU.png" title="TSU" alt="TSU" height="72" width="72"></a>
  <ul>
    <li><a href="#home" (click)="toggle(0)">TSU數位工作室</a></li>
    <li><a href="#About" (click)="toggle(1)">關於我們</a></li>
    <li><a href="#Services" (click)="toggle(1)">服務項目</a></li>
    <li><a href="#Portfolio" (click)="toggle(1)">相關作品</a></li>
    <li><a href="#Team" (click)="toggle(1)">我們團隊</a></li>
    <li><a href="#Contact" (click)="toggle(1)">聯繫我們</a></li>
  </ul>
  <div class="toggle" (click)="toggle(1)"></div>
</header>
<section class="banner" id="home">
  <h2><span>粹星園-TSU</span><br>數位行銷設計工作室</h2>
</section>
<app-about></app-about>
<app-services></app-services>
<app-stats></app-stats>
<app-portfolio></app-portfolio>
<app-team></app-team>
<app-contact></app-contact>